<nav class="nav mobile">
    <a id="x">
    <i class="fas fa-times"></i>
    </a>
    <a href="/inicio" >Inicio</a>
    <a href="/conocimientos">Conocimientos</a>
    <a href="/curriculum">Curriculum</a>
    <a href="/contacto">Contacto</a>

</nav>
<a class="hamburger-menu">
<i class="fas fa-bars"></i>
</a>