<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <div class="container" id="particles-js">
        {{>navbar}}
        <div class="conocimientos">
            <h1>Conocimientos</h1>
            <ul>
                <li>Creación de Scripts en BASH(lenguaje de comandos de unix)</li>
                <li>Mysql nivel básico</li>
                <li>Javascript nivel básico</li>
                <li>Python nivel básico</li>
                <li>Automatización de pruebas nivel básico con Selenium Webdrive y Java</li>
                <li>PHP nivel básico</li>
                <li>Configuración de redes</li>
                <li>Git nivel básico</li>
            </ul>
        </div>
    </div>
    {{>script}}
</body>

</html>