<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <div class="container" id="particles-js">
    {{> navbar}}

       <div class="container-form deactivated">
            <form method="POST" action="/contacto">
                <div id="barra">
                    <h1>Contacto</h1>
                </div>
                <div id="icon">
                    <svg width="455" height="455" viewBox="0 0 455 455" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="email 1" clip-path="url(#clip0)">
                        <g id="Group">
                        <g id="Group_2">
                        <g id="Group_3">
                        <path id="Vector" d="M455.441 155.478L389.612 108.98V41.061C388.952 34.333 383.769 28.933 377.073 28H88.682C81.987 28.934 76.803 34.333 76.143 41.061V108.457L7.702 155.477C4.991 157.445 3.274 160.498 3 163.836V411.999C3.89 418.81 9.25 424.171 16.061 425.06H449.694C455.441 425.06 457.531 418.268 457.531 411.999V163.837C457.531 160.702 458.053 157.567 455.441 155.478ZM389.612 134.057L434.543 164.881L389.612 198.84V134.057ZM97.041 48.898H368.714V215.037L232.877 317.437L97.04 215.037V48.898H97.041ZM76.143 133.535V199.364L31.212 164.882L76.143 133.535ZM23.898 186.302L170.184 297.061L23.898 395.804V186.302ZM48.976 404.163L187.947 310.645L225.041 338.857C227.141 340.48 229.702 341.395 232.355 341.469C234.445 341.469 235.49 340.424 237.579 338.857L276.24 309.077L416.779 404.163H48.976ZM436.633 392.147L293.482 296.016L436.633 186.302V392.147Z" fill="black"/>
                        <g id="third-line">
                        <path id="Vector_2" d="M146.449 117.898H193.469C199.24 117.898 203.918 113.22 203.918 107.449C203.918 101.678 199.24 97 193.469 97H146.449C140.678 97 136 101.678 136 107.449C136 113.22 140.678 117.898 146.449 117.898Z" fill="black"/>
                        </g>
                        <g id="second-line">
                        <path id="Vector_3" d="M146.286 164.593H313.47C319.241 164.593 323.919 159.915 323.919 154.144C323.919 148.373 319.241 143.695 313.47 143.695H146.286C140.515 143.695 135.837 148.373 135.837 154.144C135.837 159.915 140.515 164.593 146.286 164.593Z" fill="black"/>
                        </g>
                        <g id="first-line">
                        <path id="Vector_4" d="M324.081 216.449C324.081 210.678 319.403 206 313.632 206H146.449C140.678 206 136 210.678 136 216.449C136 222.22 140.678 226.898 146.449 226.898H313.633C319.403 226.898 324.081 222.22 324.081 216.449Z" fill="black"/>
                        </g>
                        </g>
                        </g>
                        </g>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="454.573" height="454.573" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>

                </div>
                <p>Dejame tu mensaje!!</p>
                <input type="text" placeholder="Nombre" autocomplete="off" name="nombre" maxlength="40">
                <span class="messageI" id="m1"></span>
                <input type="text" placeholder="Correo" autocomplete="off" name="correo" >
                <span id="m2" class="messageI"></span>
                <input type="text" placeholder="Telefono/Celular" autocomplete="off" name="celular" maxlength="15">
                <span id="m3" class="messageI"></span>
                <textarea name="mensaje" placeholder="Mensaje" maxlength="300"  required></textarea>
                <span id="m4">0/300 Carácteres</span>
                <span class="mensaje">
                    <i class="fas fa-asterisk"></i>
                    Todos los campos son requeridos
                    </span>
                <button type="submit" id="button" disabled>Enviar</button>
                <div class="container-social">
                    <a href="https://wa.me/50761417992">
                        <img src="assets/css/images/wa.svg" alt="" srcset="" id="whatsapp">
                    </a>

                    <a href="https://www.facebook.com/507angel">
                        <img src="assets/css/images/fb.svg" alt="" srcset="" id="fb">
                    </a>
                </div>

            </form>
            <!-- <a href="" id="whatsapp">Whatsapp</a> -->

        </div>


    </div>

    {{>script}}
    <script src="js/validations.js"></script>

</body>

</html>