<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <div class="container" id="particles-js">
    {{> navbar}}

       <div class="contenedor-principal-curriculum">
            <h1>Curriculum</h1>
            <div class="contenedor-imagen"></div>
            <div class="boton-descarga">
                <a href="assets/Angel_Gutierrez 1.pdf" download="curriculum_Angel_Gutierrez">Descargar archivo PDF</a>
            </div>
        </div>


    </div>

    {{>script}}

</body>

</html>