<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <div class="container" id="particles-js">
        <div class="enviado">
        <h1>correo enviado</h1>
        <div class="icon">
        <i class="fas fa-paper-plane icono"></i>
        </div>
        <p>¡Gracias por contactarme, estare comunicandome con usted lo mas pronto posible!</p>
        <button class="activated btn"><a href="/">Regresar a inicio</a></button>
        </div>
    </div>

    <script src="js/particles.min.js"></script>


<script src="js/app.js"></script>
    

</body>

</html>