<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
     <div class="container" id="particles-js">

         <div class="contenedor-error">
             <h1>404</h1>
             <p>Página no encontrada</p>
            <button class="activated btn"><a href="/">Regresar a la pagina de inicio</a></button>
         </div>
     </div>
    {{>script}}
</body>

</html>