<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
     <div class="container" id="particles-js">

         <div class="contenedor-error">
             <h1>404</h1>
             <p>Página no encontrada</p>
             <h2><a href="/">regresar a la pagina de inicio</a></h2>
         </div>
     </div>
    {{>script}}
</body>

</html>