<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
<div class="container" id="particles-js">
{{> navbar}}

        
    <div class="nombre-titulo">
                <h1>Angel Gutiérrez</h1>

                <h2>licenciado en redes informáticas</h2>
    </div>

</div>

{{>script}}

</body>

</html>