:root {
    --color-blanco: white;
    /* --color-boton: #81a37a; */
    --color-principal: #1d7b8b;
    --transparencia: rgba(28, 34, 28, 0.4);
    --hover: #239fb4;
    /* --hover: #68b159; */
}

.container {
    margin: 0 auto;
    display: block;
    position: relative;
    background-color: black;
    z-index: 99;
    height: 100vh;
    overflow: auto;
}

.nav {
    background-color: rgba(28, 34, 28, 0.4);
    display: block;
    width: 100%;
    margin-top: 30px;
    text-transform: uppercase;
    padding: 15px 0px 15px 0px;
    z-index: 96;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 15px 65px;
}

.nav a:hover {
    background-color: var(--color-principal);
}

.nombre-titulo {
    color: white;
    z-index: 97;
    position: relative;
}

.nombre-titulo h1,
h2 {
    text-transform: uppercase;
    z-index: 98;
}

.nombre-titulo h1 {
    padding-top: 150px;
    font-size: 65px;
    margin-bottom: 10px;
    padding-left: 40px;
}

.nombre-titulo h2 {
    position: absolute;
    width: 85%;
    background-color: rgba(28, 34, 28, 0.4);
    text-align: right;
    margin-top: 0;
    padding-right: 65px;
    font-size: 25px;
}

.particles-js-canvas-el {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    background-color: black;
}

.conocimientos {
    color: white;
}


/* Formulario-Contactenos */

.container-form {
    color: black;
    margin: 0 auto;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
}

#barra {
    position: absolute;
    top: 0;
    width: 40%;
    height: 50px;
    background-color: var(--color-principal);
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.container-form h1 {
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--color-blanco);
}

.container-form p {
    font-size: 18px;
}

svg {
    width: 70px;
    height: 70px;
    margin: 15px auto 0;
    justify-content: center;
}

.container-form form {
    background-color: var(--color-blanco);
    padding: 50px 0;
    width: 40%;
    margin: 50px auto 50px;
}

.container-form form input {
    margin: 0 auto;
    display: block;
    width: 50%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: var(--color-blanco);
    border-top: none;
    border-left: none;
    border-right: none;
    color: black;
    font-size: 16px;
    outline: none;
}

.container-form form input::placeholder {
    color: black;
}

.container-form textarea {
    margin: 0 auto;
    display: block;
    width: 50.1%;
    height: 100px;
    background-color: var(--fondo);
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px gray;
    resize: none;
    outline: none;
}

.container-form textarea::placeholder {
    color: black;
    padding: 0;
    font-size: 16px;
}

.container-form button {
    margin: 30px auto 40px;
    display: block;
    width: 50.9%;
    padding: 10px 0;
    color: white;
    background-color: var(--color-principal);
    border: none;
    text-transform: uppercase;
    font-size: 14px;
}

.container-form button:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.container-social {
    margin: 0 auto;
    text-align: center;
    display: block;
}

#whatsapp {
    width: 40px;
    height: 40px;
    margin: 0px 20px 0px 10px;
}

#fb {
    width: 40px;
    height: 40px;
}


/*CURRICULUM*/

.contenedor-principal-curriculum {
    font-size: 20px;
    color: var(--color-blanco);
    text-align: center;
}

.contenedor-principal-curriculum h1 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.contenedor-imagen {
    width: 550px;
    height: 500px;
    background: url('images/curriculum.png');
    margin: 0 auto 40px;
}

.boton-descarga {
    width: 120px;
    height: 50px;
    background-color: var(--color-principal);
    margin: 0 auto 40px;
}

.boton-descarga a {
    text-decoration: none;
    color: var(--color-blanco);
}

.boton-descarga:hover {
    background-color: var(--hover);
    cursor: pointer;
}


/*Página de error*/

.contenedor-error {
    margin: 100px auto 0;
    background-color: rgba(28, 34, 28, 0.4);
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.contenedor-error h1 {
    font-size: 80px;
    margin: 0 auto;
    width: fit-content;
}

.contenedor-error p {
    font-size: 50px;
    margin: 80px auto 50px;
    width: fit-content;
}

.contenedor-error h2 a {
    text-decoration: none;
    color: white;
    width: fit-content;
}


/*Efecto Neon*/

.contenedor-error h1:hover,
.contenedor-error p:hover,
.contenedor-error a:hover {
    text-decoration: none;
    color: #26bdd8;
    text-shadow: 0 0 50px #1d7b8b;
}

.contenedor-error p:hover,
h1:hover {
    cursor: default;
}